body {
  margin: 0;
  padding: 0;
  font: 1em sans-serif;
  max-width: 97vw;
  overflow-x: hidden;
  margin: auto;
  background-color: #1b263b;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  header img {
    margin: auto auto;
  }
  main .home-background {
    display: flex;
    flex-direction: column;
  }
  main .home-background .home-message {
    margin-top: 20px;
  }
  main .design {
    display: flex;
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  footer .contact, footer .link-footer, footer section {
    flex: none;
    max-width: 100%;
  }
  footer .social-links a {
    margin: 5px;
  }
  footer img {
    scale: 2;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
header img {
  height: 60px;
  max-width: auto;
  padding: 10px;
  border-radius: 50%;
}
header ul {
  display: flex;
  gap: 40px;
}
header ul li {
  list-style: none;
  font-size: 1.2rem;
}
header ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: darkgrey;
}
header ul li a {
  color: #e0e1dd;
  text-decoration: none;
}

main section {
  margin: 10px 0;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}
main .home-background {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .home-background img {
  display: block;
  margin: auto;
  width: 400px;
  height: 400px;
}
main .home-background .home-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  margin-left: 10px;
  color: #e0e1dd;
}
main .benefits {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
  gap: 20px;
}
main .benefits .text {
  background-color: rgba(0, 0, 0, 0.4);
  color: navajowhite;
}
main .benefits .item1, main .benefits .item2, main .benefits .item3, main .benefits .item4, main .benefits .item5 {
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: center;
}
main .benefits .item1 {
  background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
main .benefits .item2 {
  background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
main .benefits .item3 {
  background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
main .benefits .item4 {
  background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
main .benefits .item5 {
  background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
main .record-work {
  width: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
main .record-work .work {
  display: flex;
  gap: 40px;
  animation: loop 20s linear infinite;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
main .record-work .fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7) 100%);
  inset: 0;
  pointer-events: none;
}
main .record-work img {
  width: 350px;
  height: 300px;
  object-fit: contained;
}
main .design {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
main .design img {
  width: 300px;
  height: 300px;
  object-fit: fill;
}
main .example {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
main .example .item-work1 {
  grid-row: 1/3;
  grid-column: 1;
}
main .example .item-work2 {
  grid-row: 2/4;
  grid-column: 2;
}
main .example .item-work3 {
  grid-row: 3/5;
  grid-column: 3;
}
main .example img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 40px;
  grid-template-columns: repeat(4, 1fr);
  color: aliceblue;
  gap: 20px;
}
footer img {
  max-width: 10%;
  height: auto;
}
footer .link-footer {
  display: grid;
  justify-items: center;
}
footer li, footer a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}
footer .link-footer, footer .contact, footer .section {
  flex: 1;
}
footer .link-footer i, footer .link-footer .mail h3, footer .link-footer .link h3, footer .link-footer .social h3, footer .contact i, footer .contact .mail h3, footer .contact .link h3, footer .contact .social h3, footer .section i, footer .section .mail h3, footer .section .link h3, footer .section .social h3 {
  margin: 5px 0;
}
footer social-links a {
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
