body{margin: 0; padding: 0; font: 1em sans-serif; max-width: 97vw; overflow-x: hidden;margin: auto; background-color:#1b263b;}

@media (max-width: 700px){
    header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img{margin: auto auto;}
    }
    main{
        .home-background{
            display: flex;
            flex-direction: column;
            .home-message{margin-top: 20px;}
        }
        .design{
            display: flex; flex-direction: column;
        }
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .contact, .link-footer, section {
            flex: none;
            max-width: 100%;
        }
        .social-links a {
            margin:5px;
        }
        img{scale: 2;}
    }
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
    img{height: 60px; max-width: auto; padding: 10px; border-radius: 50%;}
    ul{display: flex;gap: 40px;        
        li{
                
            list-style: none;
            font-size: 1.2rem;
            &:hover{transform: scale(1.1);cursor: pointer;color: darkgrey;}
            a{color: #e0e1dd;text-decoration: none;}
        }
    }
}
    

main{
    section{
        margin: 10px 0;
        border-bottom: 1px solid lightgrey;
        padding: 20px;
        
    }
    
    .home-background{
        display: flex;
        justify-content: center; 
        align-items: center;
        
        img{
            display: block;
            margin: auto;
            width: 400px;
            height: 400px;
        }
        .home-message{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 2em;
            margin-left: 10px;
            color: #e0e1dd;
        }
    }
    .benefits {
        width: 100%;        
        display: grid;
        grid-template-columns: (repeat(auto-fit, minmax(180px, 1fr)));
        justify-items: center;
        gap: 20px;
        .text {background-color:rgba(0,0,0,0.4); color:navajowhite ; }
        
        .item1, .item2, .item3, .item4, .item5 {border: 1px solid lightgrey; padding: 10px; text-align: center;}
        .item1{background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg); background-position: center; background-size: cover;}
        .item2{background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg); background-position: center; background-size: cover;}
        .item3{background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg); background-position: center; background-size: cover;}
        .item4{background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg); background-position: center; background-size: cover;}
        .item5{background-image: url(../assets/img/amelie-mourichon-sv8oOQaUb-o-unsplash.jpg); background-position: center; background-size: cover;}
    }                   

        .record-work {
            width: 100%;
            position: relative;
            overflow: hidden;
            width:100%;
            height: 300px;
    
            .work {
                
                display: flex;
                gap: 40px;
                animation: loop 20s linear infinite;
    
                @keyframes loop {
                    0% {
                        transform: translateX(0);
                    }
    
    
                    100% {
                        transform: translateX(-50%);
                    }
                }
    
            }
            .fade {
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                background: linear-gradient(90deg,
                            rgb(0,0,0,0.7) 0%,
                            rgb(0,0,0,0)35%,
                            rgba(0,0,0,0)65%,
                            rgb(0,0,0,0.7)100%);
                inset: 0;
                pointer-events: none;
                                    
            }
    
            
        
        img{
            width: 350px;
            height:  300px;
            object-fit:contained;
        }       
    }
    
    .design{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        img {
            width: 300px;
            height: 300px;
            object-fit: fill;
        }
    }
                
    .example{ 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
        .item-work1{
            grid-row: 1/3;
            grid-column: 1;
        }
        .item-work2{
            grid-row: 2/4;
            grid-column: 2;
        }
        .item-work3{
            grid-row: 3/5;
            grid-column: 3;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
    }
    
}

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 40px;
    grid-template-columns: repeat(4, 1fr);
    color:aliceblue;
    gap: 20px;
    img{max-width: 10%; height: auto;}

    .link-footer{display: grid;justify-items: center;}

    li, a{
        text-decoration: none;
        list-style: none;
        color: aliceblue;
    }
    .link-footer, .contact, .section{
        flex: 1;
        
        
        i, .mail h3, .link h3, .social h3{
            margin: 5px 0;
            
        }
        
    }
    
    social-links a{
        margin-right: 10px;
    }
}