body{margin: 0; padding: 0; font: 1em sans-serif; max-width: 97vw; overflow-x: hidden;margin: auto;}

@media (max-width: 700px){
    header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img{margin: auto auto;}
    }
    main{
        .home-background{
            display: flex;
            flex-direction: column;
            .home-message{margin-top: 20px;}
        }
    }
}
header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
    img{height: 60px; max-width: auto; padding: 10px; border-radius: 50%;}
    ul{display: flex;gap: 40px; 
        li{
            list-style: none;
            font-size: 1.2rem;
            &:hover{transform: scale(1.1);cursor: pointer;color: darkgrey;}
        }
    }
}
    

main{
    section{
        margin: 10px 0;
        border-bottom: 1px solid lightgrey;
        padding: 20px;
        
    }
    
    .home-background{
        display: flex;
        justify-content: center; 
        align-items: center;
        
        img{
            display: block;
            margin: auto;
            width: 400px;
            height: 400px;
        }
        .home-message{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 2em;
            margin-left: 10px;
        }
    }
    .benefits {
        width: 100%;        
        display: grid;
        grid-template-columns: (repeat(auto-fit, minmax(180px, 1fr)));
        justify-items: center;
        gap: 20px;
    
        .item {border: 1px solid lightgrey; padding: 10px; text-align: center;}
    }                   

    .record-work {
        display: grid;
        display: grid;
        grid-template-columns: (repeat(auto-fit, minmax(200px, 1fr)));
        justify-items: center;
        width: 100%;
        gap: 20px;
        img{
            width: 200px;
            height:  200px;
        }       
    }
    
    .design{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        img {
            width: 300px;
            height: 300px;
        }
    }
                
    .example{        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        img{
            height: 200px;
            width: 200px;
        }
        
    }
    
}